html body {
	margin: 0;
	min-height: 100%;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Menu */
.menu img {
	vertical-align: middle;
}

.navbar-fixed, nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
	height: 48px !important;
	line-height: 48px !important;
}

.menu .logo-image {
	width: 28px;
	height: 28px;
	margin-left: 20px;
}

.menu .logo-type {
	height: 18px;
	margin-left: 12px;
}


/* Main Container */
.main {
	position: absolute;
	top: 48px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}


/* Navbar Column */
nav.navbar {
	
}

.side-nav {
	width: 256px !important;
	top: 48px !important;
	z-index: 888 !important;
	height: calc(100% - 32px - 104px)
}

#sidenav-overlay {
	z-index: 887 !important;
}

nav.navbar .collapsed {
	/* hide texts & show icons only */
}


#overview  {
	height: 56px;
	width: 241px;
	border-bottom: 1px;
	border-bottom-style: solid; 
	border-bottom-color: rgb(220, 220, 220);
	background-color: rgba(95, 95, 95, 0);
	/* box-shadow: 0 -1px 0 rgba(0,0,0,0.12) inset!important */
}



#overview-a {
	height: 56px;
	width: 197px;
	padding: 18px 0px 18px 24px;
	display: inline-flex;
}

#overview-text {
	color: #039be5 !important
	
}

#overview-btn {
	position: relative !important;
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	padding: 8px 0;
	margin: 0 4px;
	/* border-left-style: solid; 
	border-left-color:  rgb(220, 220, 220);
	border-left-width: 1px; */
}

#overview-div {
		border-right-style: solid; 
	border-right-color:  rgb(220, 220, 220);
	border-right-width: 1px;
}
.nav-item {
	width: 241px;
	height: 36px;

}

#side-navbar {
    line-height: 24px;
	padding: 0 px;
}

svg {
	width:20px;
	height:16px;
}

.side-nav li>a {
	padding: 8px 24px;	
	/* padding: 0; */
	/* width: 193px; */
	height: 36px;
	line-height: 20px;
	align-items: center;
	color: rgba(0,0,0,0.54)
}

.c5e-nav-item-lockup{
	width: 193px;
	height: 20 !important;
}

.c5e-nav-heading {
padding: 8px 24px 0 24px;
height: 40px;
user-select: none;
font-size: 12px;
color: rgba(0,0,0,0.54);
}

.c5e-entry-displayname {
	padding: 0 0 0 16px;
}

/* Content Column */
main .padding-adder {
	width: 300px;
	float: left;
	display: block;
}

main .padding-remaining {
	float: left;
}

main {
	
}

