html body {
	margin: 0;
	min-height: 100%;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Menu */
.menu nav {
	background-color: #0288D1;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.menu img {
	vertical-align: middle;
}

.menu .link {
	font-size: 14px;
	font-weight: 500;
	padding: 0 8px;
	color: rgba(255, 255, 255, 0.7);
}

.menu .link:hover, .menu nav .nav-wrapper .button i:hover {
	color: #fff;
	background-color: initial;
	transition: color 0.15s ease;
	transition: background-color none;
}

.menu nav .nav-wrapper .button i {
	font-weight: normal;
	line-height: 24px;
	height: 40px;
	padding: 8px;
	color: rgba(255, 255, 255, 0.7);
}

.menu nav, .menu nav .nav-wrapper i, .menu nav a.button-collapse, .menu nav a.button-collapse i {
	height: 48px;
	line-height: 48px;
}

.menu nav .button-collapse {
	height: 35px;
	line-height: 48px;
	display: inline-block;
	margin-top: 7px;
	margin-right: 0;
}

.menu nav .button-collapse i {
	height: 35px;
	line-height: 35px;
	color: rgba(255, 255, 255, 0.7);
}

.menu nav .button-collapse:hover i {
	color: white;
	transition: color 0.15s ease;
}

.menu .logo-image {
	width: 28px;
	height: 28px;
	margin-left: 20px;
}

.menu .logo-type {
	height: 18px;
	margin-left: 12px;
}

.menu nav .nav-wrapper .profile-wrapper {
	margin-right: 16px;
	padding: 8px;
	line-height: 16px;
}

.menu nav .nav-wrapper .profile.button {
	width: 32px;
	height: 32px;
}

.menu nav .nav-wrapper .profile.button img {
	width: 32px;
	height: 32px;
	vertical-align: top;
}

.menu .viewonly {
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	font-weight: normal;
	background: #03a9f4;
	align-self: center;
	margin-left: 16px;
	margin-right: 8px;
	padding: 0 12px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	display: inline-block;
}

.menu nav .nav-wrapper .viewonly i {
	font-size: 16px;
	margin-right: 6px;
	line-height: 24px;
	height: 24px;
}

.menu ul.dropdown-content {
	min-width: 150px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	z-index: 100;
}

.menu .dropdown-content li:not(:empty) {
	padding: 8px 0;
}

.menu .dropdown-content li:hover {
	background-color: white;
	cursor: default;
}

.menu .dropdown-content li a {
	padding: 6px 16px;
	font-size: 14px;
	letter-spacing: 0;
	font-weight: 400;
	min-height: 32px;
	line-height: 20px;
	color: black;
}


/* Main Container */
.main {
	position: absolute;
	top: 48px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.menu .logo-image {
	width: 28px;
	height: 28px;
	margin-left: 20px;
}

.menu .logo-type {
	height: 18px;
	margin-left: 12px;
}


/* Main Container */
.main {
	position: absolute;
	top: 48px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}


/* Navbar Column */
nav.navbar {
	
}

#sidenav-overlay {
	z-index: 887 !important;
}

.side-nav {
	width: 256px ;
	top: 48px !important;
	z-index: 888 !important;
	height: calc(100%  - 104px - 48px);
	padding-bottom: 32px;
	
}

#side-head {
	width: 256px;
	height: 49px;
	margin: 0;
	top: 0;
	/* padding: 10px 20px; */
	background-color: white;
	box-shadow: white;
	transform: translateX(-100%);
	/* visibility: hidden; */
}

@media only screen and (min-width: 992px) {
	.side-nav {
		height: calc(100%  - 104px - 48px) ;
	}
	#side-navbar1 {
		/* transform: translate(-100%);
		hide : true; */
		display: block ;
	}
}

#side-navbar1 {
	width: 256px !important;
	top: calc(100%  - 104px) ;
	z-index: 888 !important;
	height: 60px;
	position: fixed;
	padding: 12px 24px;
	border-bottom: 1px;
	border-top: 1px;
	border-right: 1px;
	border-bottom-style: solid;
	border-top-style: solid;
	border-right-style: solid;
	box-shadow: #039be5;
	border-color: rgb(220, 220, 220); 
	background-color: white
	
}

#side-navbar2 {
	width: 256px ;
	height: 44px !important;
	top: calc(100%  - 44px) !important;
	z-index: 888 !important;
	background-color: #f5f5f5!important;
	border-top-style: solid!important;;
	border-top-color: rgba(0, 0, 0, 0.1)!important;;
	border-top-width: 1px!important;; 
}

#sidenav-overlay {
	z-index: 887 !important;
}

nav.navbar .collapsed {
	/* hide texts & show icons only */
}


#overview  {
	height: 56px;
	width: 256px;
	border-bottom: 1px;
	border-bottom-style: solid; 
	border-bottom-color: rgb(220, 220, 220);
	background-color: #f5f5f5!important
	/* box-shadow: 0 -1px 0 rgba(0,0,0,0.12) inset!important */
}



#overview-a {
	height: 56px;
	width: 212px;
	padding: 18px 0px 18px 24px;
	display: inline-flex;
}

#overview-text {
	color: #039be5 !important
	
}

#overview-btn {
	position: relative !important;
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	padding: 8px 0;
	margin: 0 1px;
	/* border-left-style: solid; 
	border-left-color:  rgb(220, 220, 220);
	border-left-width: 1px; */
}


#overview-div {
	border-right-style: solid; 
	border-right-color:  rgb(220, 220, 220);
	border-right-width: 1px;
}

@media only screen and (max-width: 992px) {
	#overview-btn > a {
		padding: 0;
	}
	#side-navbar {
		height: calc(100% - 60px - 48px) !important;
	}
	#side-navbar2 {
		display: none;
	}
	#side-navbar1 {
		/* transform: translate(-100%);
		hide : true; */
		display: none ;
		top: calc(100%  - 60px) !important;
	}

}

.nav-item {
	width: 241px;
	height: 36px;

}

#side-navbar {
    line-height: 24px;
	padding: 0 px;
}

svg {
	width:20px;
	height:16px;
}

.side-nav li>a {
	padding: 8px 24px;	
	/* padding: 0; */
	/* width: 193px; */
	height: 36px;
	line-height: 20px;
	align-items: center;
	color: rgba(0,0,0,0.54)
}

.c5e-nav-item-lockup{
	width: 193px;
	height: 20 !important;
}

.c5e-nav-heading {
padding: 8px 24px 0 24px;
height: 40px;
user-select: none;
font-size: 12px;
color: rgba(0,0,0,0.54);
}

.c5e-entry-displayname {
	padding: 0 0 0 16px;
}


/* Content Column */
main .padding-adder {
	width: 300px;
	float: left;
	display: block;
}

main .padding-remaining {
	float: left;
}

main {
	
}

