html body {
	margin: 0;
	min-height: 100%;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Menu */
.menu nav {
	background-color: #0288D1;
}

.menu img {
	vertical-align: middle;
}

.menu .link {
	font-size: 14px;
	font-weight: 500;
	padding: 0 8px;
	color: rgba(255, 255, 255, 0.7);
}

.menu .link:hover, .menu nav .nav-wrapper .button i:hover {
	color: #fff;
	background-color: initial;
	transition: color 0.15s ease;
	transition: background-color none;
}

.menu nav .nav-wrapper .button i {
	font-weight: normal;
	line-height: 24px;
	height: 40px;
	padding: 8px;
	color: rgba(255, 255, 255, 0.7);
}

.menu nav, .menu nav .nav-wrapper i, .menu nav a.button-collapse, .menu nav a.button-collapse i {
	height: 48px;
	line-height: 48px;
}

.menu nav .button-collapse {
	height: 35px;
	line-height: 48px;
	display: inline-block;
	margin-top: 7px;
	margin-right: 0;
}

.menu nav .button-collapse i {
	height: 35px;
	line-height: 35px;
	color: rgba(255, 255, 255, 0.7);
}

.menu nav .button-collapse:hover i {
	color: white;
	transition: color 0.15s ease;
}

.menu .logo-image {
	width: 28px;
	height: 28px;
	margin-left: 20px;
}

.menu .logo-type {
	height: 18px;
	margin-left: 12px;
}

.menu nav .nav-wrapper .profile-wrapper {
	margin-right: 16px;
	padding: 8px;
	line-height: 16px;
}

.menu nav .nav-wrapper .profile.button {
	width: 32px;
	height: 32px;
}

.menu nav .nav-wrapper .profile.button img {
	width: 32px;
	height: 32px;
	vertical-align: top;
}

.menu .viewonly {
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	font-weight: normal;
	background: #03a9f4;
	align-self: center;
	margin-left: 16px;
	margin-right: 8px;
	padding: 0 12px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	display: inline-block;
}

.menu nav .nav-wrapper .viewonly i {
	font-size: 16px;
	margin-right: 6px;
	line-height: 24px;
	height: 24px;
}

.menu ul.dropdown-content {
	min-width: 150px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	z-index: 100;
}

.menu .dropdown-content li:not(:empty) {
	padding: 8px 0;
}

.menu .dropdown-content li:hover {
	background-color: white;
	cursor: default;
}

.menu .dropdown-content li a {
	padding: 6px 16px;
	font-size: 14px;
	letter-spacing: 0;
	font-weight: 400;
	min-height: 32px;
	line-height: 20px;
	color: black;
}


/* Main Container */
.main {
	position: absolute;
	top: 48px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}


/* Navbar Column */
nav.navbar {
	
}

.side-nav {
	width: 256px;
	top: 48px !important;
	z-index: 888 !important;
}

#sidenav-overlay {
	z-index: 887 !important;
}

nav.navbar .collapsed {
	/* hide texts & show icons only */
}


/* Content Column */
main .padding-adder {
	width: 300px;
	float: left;
	display: block;
}

main .padding-remaining {
	float: left;
}

main {
	
}

